@font-face {
  font-family: codefont;
  src: url(PressStart2P-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: codefont;
}

body {
  background-color: black;
}

button {
  border: 1px solid greenyellow;
  background-color: black;
  color: greenyellow;
  padding: 15px 12px
}

button:hover {
  cursor: pointer;
  background-color: greenyellow;
  color: black;
  border:1px solid black;
}

h1 {
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;
  color: greenyellow;
}

.choice-container {
  text-align: center;
  margin-top: 25px;
}

.grid-choice-container {
  text-align: center;
  margin-top: 10px;
}

#erase {
  text-align: center;
}

.normal-grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 650px;
  width: 650px;
  margin: auto;
  border: 1px solid black;
  margin-top: 28px;
}

.big-grid-container {
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: repeat(32, 1fr);
  height: 650px;
  width: 650px;
  margin: auto;
  border: 1px solid black;
  margin-top: 28px;
}

.inner-div {
  border: 1px solid black;
  background-color: white;
}

.inner-div:hover {
  transform: scale(1.1);
  border: 2px solid black;
  cursor: pointer;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 4rem;
  text-align: center;
  color: greenyellow;
  background-color: rgb(39, 38, 38);
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer >div > p {
  margin-top: 20px;
  font-size: 15px;
}

footer > div > p > a {
  color: rgb(91, 91, 235);
}

footer > div > p > a:hover {
  color:darkorange;
}